Repository totoro-organization/totoro, pull requests merged in 2022-07, with the labels that each got.

#194 webapp -> staging
  webapp/src/App.tsx
  webapp/src/applications/Organization/Gestion/Jobs/Create/CreatingCard.tsx
  webapp/src/applications/Organization/Gestion/Jobs/List/Jobs.tsx
  webapp/src/applications/Organization/Gestion/Jobs/List/JobsTable.tsx
  webapp/src/applications/Organization/Gestion/Jobs/List/index.tsx
  webapp/src/components/FallbackAvatar/index.tsx
  webapp/src/components/Form/index.tsx
  webapp/src/components/Modal/DeleteContent.tsx
  webapp/src/components/Modal/index.tsx
  webapp/src/components/StatusLabel/index.tsx
  webapp/src/components/TableWrapper/BulkActions.tsx
  webapp/src/components/TableWrapper/index.tsx
  webapp/src/contexts/CommonsContext.tsx
  webapp/src/contexts/TagsContext.tsx
  webapp/src/hooks/useAuth.tsx
  webapp/src/hooks/useModal.tsx
  webapp/src/layouts/SidebarLayout/Header/Userbox/index.tsx
  webapp/src/layouts/SidebarLayout/Sidebar/SidebarMenu/AppList.tsx
  webapp/src/layouts/SidebarLayout/Sidebar/SidebarMenu/index.tsx
  webapp/src/models/admin.ts
  webapp/src/models/application.ts
  webapp/src/models/attachment_chat.ts
  webapp/src/models/attachment_job.ts
  webapp/src/models/chat.ts
  webapp/src/models/commons.ts
  webapp/src/models/discount.ts
  webapp/src/models/discount_transaction.ts
  webapp/src/models/discount_type.ts
  webapp/src/models/index.ts
  webapp/src/models/job.ts
  webapp/src/models/job_difficulty.ts
  webapp/src/models/lang.ts
  webapp/src/models/litigation.ts
  webapp/src/models/litigation_object.ts
  webapp/src/models/log.ts
  webapp/src/models/organization.ts
  webapp/src/models/partner.ts
  webapp/src/models/pricing.ts
  webapp/src/models/role.ts
  webapp/src/models/services.ts
  webapp/src/models/status.ts
  webapp/src/models/subscription.ts
  webapp/src/models/table.ts
  webapp/src/models/tag.ts
  webapp/src/models/user.ts
  webapp/src/services/auth.service.ts
  webapp/src/services/common.service.ts
  webapp/src/services/job.service.ts
  webapp/src/services/requestApi.ts
  webapp/src/services/routes.ts
  webapp/src/utils/getStringToColor.ts
Labels: ⚠️ deploy

#207 webapp - add e2e and unit test configs
  README.md
  webapp/cypress.config.ts
  webapp/cypress/e2e/login.cy.ts
  webapp/cypress/fixtures/example.json
  webapp/cypress/support/commands.ts
  webapp/cypress/support/e2e.ts
  webapp/cypress/support/routes.ts
  webapp/package-lock.json
  webapp/package.json
  webapp/src/utils/getStringToColor.ts
  webapp/src/utils/tests/getStringToColor.spec.ts
  webapp/tsconfig.json
Labels: 🚀 feature, web-app, 🤖 test

#233 Backoffice subscriptions
  .gitignore
  backoffice/src/hooks/useApi.ts
  backoffice/src/models/subscription.ts
  backoffice/src/pages/Accounting/Subscriptions/components/CanceledSubscriptionsTab.tsx
  backoffice/src/pages/Accounting/Subscriptions/components/ExpiredSubscriptionsTab.tsx
  backoffice/src/pages/Accounting/Subscriptions/components/ProSubscriptionsTab.tsx
  backoffice/src/pages/Accounting/Subscriptions/components/StandardSubscriptionsTab.tsx
  backoffice/src/pages/Accounting/Subscriptions/components/SubscriptionModalContent.tsx
  backoffice/src/pages/Accounting/Subscriptions/components/SubscriptionsTable.tsx
  backoffice/src/pages/Accounting/Subscriptions/components/tab.types.ts
  backoffice/src/pages/Accounting/Subscriptions/index.tsx
  backoffice/src/services/common.service.ts
Labels: back-office

#217 webapp - staging
  webapp/src/layouts/SidebarLayout/Sidebar/SidebarMenu/AppList.tsx
  webapp/src/pages/applications/Organization/Dashboards/Crypto/AccountBalance.tsx
  webapp/src/pages/applications/Organization/Dashboards/Crypto/AccountBalanceChart.tsx
  webapp/src/pages/applications/Organization/Dashboards/Crypto/AccountSecurity.tsx
  webapp/src/pages/applications/Organization/Dashboards/Crypto/PageHeader.tsx
  webapp/src/pages/applications/Organization/Dashboards/Crypto/Wallets.tsx
  webapp/src/pages/applications/Organization/Dashboards/Crypto/WatchList.tsx
  webapp/src/pages/applications/Organization/Dashboards/Crypto/WatchListColumn1.tsx
  webapp/src/pages/applications/Organization/Dashboards/Crypto/WatchListColumn1Chart.tsx
  webapp/src/pages/applications/Organization/Dashboards/Crypto/WatchListColumn2.tsx
  webapp/src/pages/applications/Organization/Dashboards/Crypto/WatchListColumn3.tsx
  webapp/src/pages/applications/Organization/Dashboards/Crypto/WatchListRow.tsx
  webapp/src/pages/applications/Organization/Dashboards/Crypto/WatchListRowChart.tsx
  webapp/src/pages/applications/Organization/Dashboards/Crypto/index.tsx
  webapp/src/pages/applications/Organization/Dashboards/Resume/index.tsx
  webapp/src/pages/applications/Organization/Gestion/Jobs/Create/CreatingCard.tsx
  webapp/src/pages/applications/Organization/Gestion/Jobs/Create/index.tsx
  webapp/src/pages/applications/Organization/Gestion/Jobs/List/Jobs.tsx
  webapp/src/pages/applications/Organization/Gestion/Jobs/List/JobsTable.tsx
  webapp/src/pages/applications/Organization/Gestion/Jobs/List/index.tsx
  webapp/src/pages/applications/Organization/Gestion/Jobs/List/subComponents/DeleteJobModal.tsx
  webapp/src/pages/applications/Organization/Gestion/Jobs/List/subComponents/JobTableItem.tsx
  webapp/src/router.tsx
Labels: ⚠️ deploy

#237 Feat/add register integration test (wip)
  mobileapp/cypress/e2e/register.cy.ts
  mobileapp/src/components/organisms/ExplanationCarousel.tsx
  mobileapp/src/components/organisms/RegisterSteps/RegisterStepOne.tsx
Labels: 📱 mobileapp, 🤖 test

#238 Webapp user profil
  webapp/src/pages/User/profile/Addresses.tsx
  webapp/src/pages/User/profile/Feed.tsx
  webapp/src/pages/User/profile/MyCards.tsx
  webapp/src/pages/User/profile/PopularTags.tsx
  webapp/src/pages/User/profile/index.tsx
  webapp/src/pages/User/settings/ActivityTab.tsx
  webapp/src/pages/User/settings/EditProfileTab.tsx
  webapp/src/pages/User/settings/SecurityTab.tsx
  webapp/src/pages/User/settings/index.tsx
  webapp/src/services/users.service.ts
  webapp/src/utils/formatPhoneNumber.ts
Labels: 🚀 feature, 🚧 draft, web-app

#242 Job page
  webapp/src/components/TabsWrapper/index.tsx
  webapp/src/pages/applications/Organization/Gestion/Jobs/List/ParticipantsTable.tsx
  webapp/src/pages/applications/Organization/Gestion/Jobs/List/subComponents/JobTableItem.tsx
  webapp/src/pages/applications/Organization/Gestion/Jobs/List/subComponents/ParticipantListItem.tsx
  webapp/src/pages/applications/Organization/Gestion/Jobs/Participant/index.tsx
  webapp/src/pages/applications/Organization/Gestion/Jobs/Participant/subComponents/ParticipantCard.tsx
  webapp/src/pages/applications/Organization/Gestion/Jobs/Participant/subComponents/ParticipantItem.tsx
  webapp/src/pages/applications/Organization/Gestion/Jobs/index.tsx
  webapp/src/pages/applications/Organization/Gestion/Jobs/subComponents/JobItem.tsx
  webapp/src/router.tsx
  webapp/src/utils/getFormatLocalDate.ts
Labels: 🚀 feature, web-app

#257 Webapp job form
  webapp/package-lock.json
  webapp/package.json
  webapp/src/App.tsx
  webapp/src/components/DateFnsProvider/index.tsx
  webapp/src/components/Form/index.tsx
  webapp/src/components/JobForm/JobForm.schema.ts
  webapp/src/components/JobForm/index.tsx
  webapp/src/components/Modal/DeleteContent.tsx
  webapp/src/components/forms/Autocomplete/index.tsx
  webapp/src/components/forms/Container/index.tsx
  webapp/src/components/forms/DateTimePicker/index.tsx
  webapp/src/components/forms/DateTimeRangePicker/index.tsx
  webapp/src/components/forms/Select/index.tsx
  webapp/src/components/forms/TextField/index.tsx
  webapp/src/components/forms/Textarea/index.tsx
  webapp/src/components/forms/Upload/index.tsx
  webapp/src/components/forms/UploadImagePreview/Dropzone.tsx
  webapp/src/components/forms/UploadImagePreview/Preview.tsx
  webapp/src/components/forms/UploadImagePreview/index.tsx
  webapp/src/components/forms/index.ts
  webapp/src/components/forms/validationConstants.ts
  webapp/src/contexts/SessionContext.tsx
  webapp/src/pages/SignUp/index.tsx
  webapp/src/pages/applications/Organization/Gestion/Jobs/Create/CreatingCard.tsx
  webapp/src/pages/applications/Organization/Gestion/Jobs/Create/index.tsx
  webapp/src/utils/isArray.ts
  webapp/src/utils/sortByAscOrder.ts
Labels: 🚀 feature, 🚧 draft, web-app

#288 feat(mobileapp): add `Slider` component to `JobsFilter` page
  mobileapp/app.json
  mobileapp/package-lock.json
  mobileapp/package.json
  mobileapp/src/common/contexts/AuthContext.tsx
  mobileapp/src/components/atoms/Slider.tsx
  mobileapp/src/screens/JobsFilter.tsx
Labels: 📱 mobileapp, 🚀 feature

#290 Add checkbox component
  mobileapp/src/components/atoms/Checkbox.tsx
  mobileapp/src/screens/JobsFilter.tsx
  mobileapp/src/theme/border.ts
Labels: 📱 mobileapp, 🚀 feature

#292 Add discounts mobileapp
  mobileapp/App.tsx
  mobileapp/src/common/api/hooks/useDiscount.ts
  mobileapp/src/common/api/hooks/useDiscounts.ts
  mobileapp/src/common/api/requests/discount/getDiscount.ts
  mobileapp/src/common/api/requests/discount/getDiscounts.ts
  mobileapp/src/common/api/routes.ts
  mobileapp/src/common/contexts/AuthContext.tsx
  mobileapp/src/common/hooks/useAuth.ts
  mobileapp/src/components/atoms/Avatar.tsx
  mobileapp/src/components/molecules/ShopCard.tsx
  mobileapp/src/components/organisms/LoginForm/LoginForm.tsx
  mobileapp/src/components/organisms/TokenButton.tsx
  mobileapp/src/navigation/RootStackNavigator.tsx
  mobileapp/src/navigation/StackNavigationParams.ts
  mobileapp/src/screens/Jobs.tsx
  mobileapp/src/screens/MyAccount.tsx
  mobileapp/src/screens/Shop.tsx
  mobileapp/src/screens/single/Discount.tsx
  mobileapp/src/screens/single/Job.tsx
Labels: 📱 mobileapp, 🚀 feature

#294 fix api cypress tests
  api/cypress.config.js
  api/cypress.env.json
  api/cypress/e2e/auth/login.cy.js
  api/cypress/e2e/auth/user-connected.cy.js
  api/cypress/fixtures/example.json
  api/cypress/fixtures/user/login-email.json
  api/cypress/fixtures/user/login-username.json
  api/cypress/fixtures/user/one.json
  api/cypress/support/commands.js
  api/cypress/support/routes.js
  api/package.json
Labels: 🧩 api
