Repository totoro-organization/totoro, pull requests merged in 2022-06, with the labels that each got.

#135 Refactor mobile app layout
  mobileapp/src/assets/fonts/Outfit-ExtraBold.ttf
  mobileapp/src/common/contexts/AuthContext.tsx
  mobileapp/src/common/hooks/useCachedResources.ts
  mobileapp/src/common/utils/getLocaleCurrencyNotation.ts
  mobileapp/src/components/layouts/GlobalLayout.tsx
  mobileapp/src/components/layouts/SimpleLayout.tsx
  mobileapp/src/components/layouts/subComponents/Header.tsx
  mobileapp/src/components/organisms/LoginForm/LoginForm.tsx
  mobileapp/src/models/user.ts
  mobileapp/src/navigation/RootStackNavigator.tsx
  mobileapp/src/navigation/StackNavigationParams.ts
  mobileapp/src/screens/Chat.tsx
  mobileapp/src/screens/Home.tsx
  mobileapp/src/screens/Login.tsx
  mobileapp/src/screens/Missions.tsx
  mobileapp/src/screens/MyAccount.tsx
  mobileapp/src/screens/Register.tsx
  mobileapp/src/screens/Shop.tsx
  mobileapp/src/screens/uniques/Mission.tsx
  mobileapp/src/screens/uniques/Profile.tsx
  mobileapp/src/theme/fonts.ts
Labels: 📱 ui-mobileapp, ✏️ refactor, 🚧 draft

#136 Add QR Code scanner
  mobileapp/package-lock.json
  mobileapp/package.json
  mobileapp/src/assets/icons/Scanner.tsx
  mobileapp/src/components/layouts/GlobalLayout.tsx
  mobileapp/src/components/layouts/subComponents/Header.tsx
  mobileapp/src/components/organisms/ExplanationCarousel.tsx
  mobileapp/src/navigation/RootStackNavigator.tsx
  mobileapp/src/navigation/StackNavigationParams.ts
  mobileapp/src/screens/Scanner.tsx
  mobileapp/src/screens/uniques/Mission.tsx
Labels: 📱 mobileapp, 🚀 feature

#137 add requests to follow associations (get/post)
  mobileapp/App.tsx
  mobileapp/src/common/api/hooks/useUserFavorites.ts
  mobileapp/src/common/api/requests/addUserFavorite.ts
  mobileapp/src/common/api/requests/getUserFavorites.ts
  mobileapp/src/common/api/routes.ts
  mobileapp/src/common/mockedData.ts
  mobileapp/src/models/Log.ts
  mobileapp/src/models/admin.ts
  mobileapp/src/models/application.ts
  mobileapp/src/models/association.ts
  mobileapp/src/models/attachment_chat.ts
  mobileapp/src/models/attachment_job.ts
  mobileapp/src/models/chat.ts
  mobileapp/src/models/crypto_order.ts
  mobileapp/src/models/discount.ts
  mobileapp/src/models/discount_transaction.ts
  mobileapp/src/models/discount_type.ts
  mobileapp/src/models/favorite.ts
  mobileapp/src/models/job.ts
  mobileapp/src/models/job_difficulty.ts
  mobileapp/src/models/litigation.ts
  mobileapp/src/models/litigation_object.ts
  mobileapp/src/models/organization.ts
  mobileapp/src/models/partner.ts
  mobileapp/src/models/pricing.ts
  mobileapp/src/models/role.ts
  mobileapp/src/models/subscription.ts
  mobileapp/src/models/tag.ts
  mobileapp/src/models/user.ts
Labels: 📱 mobileapp, 🚀 feature, 🚧 draft

#138 Add `Modal` atom
  mobileapp/src/assets/icons/Close.tsx
  mobileapp/src/assets/icons/Token.tsx
  mobileapp/src/components/atoms/Modal.tsx
  mobileapp/src/components/atoms/Text.tsx
  mobileapp/src/components/layouts/subComponents/Header.tsx
  mobileapp/src/components/organisms/TokenButton.tsx
Labels: 📱 mobileapp, 🚀 feature

#139 Add mission card component without style
  mobileapp/src/common/mockedData.ts
  mobileapp/src/components/molecules/MissionCard.tsx
  mobileapp/src/components/organisms/MissionsList.tsx
  mobileapp/src/screens/Missions.tsx
  mobileapp/src/screens/uniques/Mission.tsx
Labels: 📱 mobileapp, ✏️ refactor

#142 Create pill component
  mobileapp/src/components/atoms/Button.tsx
  mobileapp/src/components/atoms/Pill.tsx
  mobileapp/src/components/atoms/Radio.tsx
  mobileapp/src/components/molecules/PillGroup.tsx
  mobileapp/src/components/molecules/RadioGroup.tsx
Labels: 📱 mobileapp, 🚀 feature

#143 Add filter page (without logic)
  mobileapp/src/assets/icons/Filter.tsx
  mobileapp/src/assets/icons/Sort.tsx
  mobileapp/src/components/atoms/Modal.tsx
  mobileapp/src/components/atoms/Text.tsx
  mobileapp/src/navigation/RootStackNavigator.tsx
  mobileapp/src/navigation/StackNavigationParams.ts
  mobileapp/src/screens/Missions.tsx
  mobileapp/src/screens/MissionsFilter.tsx
Labels: 📱 mobileapp, 🚀 feature

#140 add date picker modal (register form)
  mobileapp/package-lock.json
  mobileapp/package.json
  mobileapp/src/common/utils/getFormatDateFrenchLocale.ts
  mobileapp/src/common/utils/tests/getFormatDateFrenchLocale.spec.ts
  mobileapp/src/components/molecules/DateTimePickerInput.tsx
  mobileapp/src/components/organisms/RegisterSteps/RegisterStepTwo.tsx
  mobileapp/src/components/organisms/RegisterSteps/registerValidationSchemas.ts
  mobileapp/src/screens/Register.tsx
Labels: 📱 mobileapp, 🚀 feature

#184 add forgot password screens
  mobileapp/src/assets/illustrations/EmailIllustration.png
  mobileapp/src/components/molecules/InputGroup.tsx
  mobileapp/src/components/organisms/ForgotPasswordForm/ForgotPasswordForm.tsx
  mobileapp/src/components/organisms/ForgotPasswordForm/SuccessMessage.tsx
  mobileapp/src/components/organisms/ForgotPasswordForm/forgotPasswordValidationSchema.ts
  mobileapp/src/components/organisms/LoginForm/LoginForm.tsx
  mobileapp/src/components/organisms/RegisterSteps/RegisterStepFinal.tsx
  mobileapp/src/components/organisms/RegisterSteps/RegisterStepOne.tsx
  mobileapp/src/components/organisms/RegisterSteps/RegisterStepTwo.tsx
  mobileapp/src/navigation/RootStackNavigator.tsx
  mobileapp/src/navigation/StackNavigationParams.ts
  mobileapp/src/screens/auth/ChangePassword.tsx
  mobileapp/src/screens/auth/ForgotPassword.tsx
  mobileapp/src/screens/auth/Login.tsx
  mobileapp/src/screens/auth/Register.tsx
  mobileapp/src/screens/single/Conversation.tsx
  mobileapp/src/screens/single/Mission.tsx
  mobileapp/src/screens/single/Profile.tsx
Labels: 📱 mobileapp, 🚀 feature

#185 add `useBoolean` hook
  mobileapp/src/common/hooks/useBoolean.ts
  mobileapp/src/components/atoms/Input.tsx
  mobileapp/src/components/molecules/DateTimePickerInput.tsx
  mobileapp/src/components/organisms/TokenButton.tsx
  mobileapp/src/screens/Missions.tsx
Labels: 📱 mobileapp, ✏️ refactor

#187 Webapp
  webapp/src/App.tsx
  webapp/src/applications/Organization/Dashboards/Crypto/AccountBalance.tsx
  webapp/src/applications/Organization/Dashboards/Crypto/AccountBalanceChart.tsx
  webapp/src/applications/Organization/Dashboards/Crypto/AccountSecurity.tsx
  webapp/src/applications/Organization/Dashboards/Crypto/PageHeader.tsx
  webapp/src/applications/Organization/Dashboards/Crypto/Wallets.tsx
  webapp/src/applications/Organization/Dashboards/Crypto/WatchList.tsx
  webapp/src/applications/Organization/Dashboards/Crypto/WatchListColumn1.tsx
  webapp/src/applications/Organization/Dashboards/Crypto/WatchListColumn1Chart.tsx
  webapp/src/applications/Organization/Dashboards/Crypto/WatchListColumn2.tsx
  webapp/src/applications/Organization/Dashboards/Crypto/WatchListColumn3.tsx
  webapp/src/applications/Organization/Dashboards/Crypto/WatchListRow.tsx
  webapp/src/applications/Organization/Dashboards/Crypto/WatchListRowChart.tsx
  webapp/src/applications/Organization/Dashboards/Crypto/index.tsx
  webapp/src/applications/Organization/Dashboards/Resume/index.tsx
  webapp/src/applications/Organization/Gestion/Jobs/Create/CreatingCard.tsx
  webapp/src/applications/Organization/Gestion/Jobs/Create/index.tsx
  webapp/src/applications/Organization/Gestion/Jobs/List/index.tsx
  webapp/src/contexts/TagsContext.tsx
  webapp/src/hooks/useAuth.tsx
  webapp/src/layouts/SidebarLayout/Header/Menu/index.tsx
  webapp/src/layouts/SidebarLayout/Sidebar/SidebarMenu/index.tsx
  webapp/src/layouts/SidebarLayout/Sidebar/SidebarMenu/items.ts
  webapp/src/models/user.ts
  webapp/src/pages/Gestion/missions/PageHeader.tsx
  webapp/src/pages/Gestion/missions/indexedDB.tsx
  webapp/src/pages/SignIn/FirstLogin.tsx
  webapp/src/router.tsx
  webapp/src/services/common.service.ts
  webapp/src/services/config.ts
  webapp/src/services/job.service.ts
  webapp/src/services/requestApi.ts
Labels: 🚧 draft, web-app
