Repository totoro-organization/totoro, pull requests merged in 2022-04, with the labels that each got.

#36 28/add grey color theme
  ui-mobileapp/src/components/atoms/Button.tsx
  ui-mobileapp/src/components/atoms/Text.tsx
  ui-mobileapp/src/theme/colors.ts
Labels: 📱 ui-mobileapp, 🚀 feature

#41 27 add shop page
  ui-mobileapp/src/navigation/BottomTabNavigator.tsx
  ui-mobileapp/src/navigation/StackNavigationParams.ts
  ui-mobileapp/src/screens/Shop.tsx
Labels: 📱 ui-mobileapp

#49 import Outfit font-family
  ui-mobileapp/src/assets/fonts/Outfit-VariableFont_wght.ttf
  ui-mobileapp/src/common/hooks/useCachedResources.ts
  ui-mobileapp/src/components/atoms/Text.tsx
  ui-mobileapp/src/components/organisms/RegisterSteps/RegisterStepOne.tsx
  ui-mobileapp/src/components/organisms/RegisterSteps/RegisterStepTwo.tsx
  ui-mobileapp/src/screens/Chat.tsx
  ui-mobileapp/src/screens/Home.tsx
  ui-mobileapp/src/screens/Login.tsx
  ui-mobileapp/src/screens/Missions.tsx
  ui-mobileapp/src/screens/Profile.tsx
  ui-mobileapp/src/screens/Register.tsx
  ui-mobileapp/src/screens/Shop.tsx
  ui-mobileapp/src/theme/fonts.ts
Labels: 📱 ui-mobileapp, 🚀 feature

#51 feat(ui-mobileapp): create explanation screen instead of homepage
  ui-mobileapp/src/components/atoms/Text.tsx
  ui-mobileapp/src/navigation/RootStackNavigator.tsx
  ui-mobileapp/src/navigation/StackNavigationParams.ts
  ui-mobileapp/src/screens/Explanation.tsx
  ui-mobileapp/src/screens/Loading.tsx
Labels: 📱 ui-mobileapp, 🚀 feature

#52 add Box atom component
  ui-mobileapp/src/components/atoms/Box.tsx
Labels: 📱 ui-mobileapp, 🚀 feature

#57 add spacing design tokens to our theme
  ui-mobileapp/src/theme/spacing.ts
  ui-mobileapp/src/theme/theme.ts
Labels: 📱 ui-mobileapp, 🚀 feature

#58 update padding to our Button with spacing tokens
  ui-mobileapp/src/components/atoms/Button.tsx
Labels: 📱 ui-mobileapp, ✏️ refactor

#62 BO - job page
  ui-backoffice/package-lock.json
  ui-backoffice/package.json
  ui-backoffice/src/components/DateFnsProvider/index.tsx
  ui-backoffice/src/content/pages/Management/Jobs/Job/JobForm.tsx
  ui-backoffice/src/content/pages/Management/Jobs/Job/index.tsx
  ui-backoffice/src/content/pages/Management/Jobs/Jobs.tsx
  ui-backoffice/src/content/pages/Management/Jobs/JobsTable.tsx
  ui-backoffice/src/content/pages/Management/Litigations/Litigations.tsx
  ui-backoffice/src/content/pages/Management/Organizations/Organizations.tsx
  ui-backoffice/src/content/pages/Management/Organizations/OrganizationsTable.tsx
  ui-backoffice/src/content/pages/Management/Users/Users.tsx
  ui-backoffice/src/models/admin.ts
  ui-backoffice/src/models/job.ts
  ui-backoffice/src/models/user.ts
  ui-backoffice/src/router.tsx
Labels: 🚀 feature, 🚧 draft, back-office

#68 BO - Accounting
  ui-backoffice/src/content/pages/Accounting/Subscriptions/CanceledTab/CanceledSubscriptionsTable.tsx
  ui-backoffice/src/content/pages/Accounting/Subscriptions/CanceledTab/index.tsx
  ui-backoffice/src/content/pages/Accounting/Subscriptions/ExpiredTab/ExpiredSubscriptionsTable.tsx
  ui-backoffice/src/content/pages/Accounting/Subscriptions/ExpiredTab/index.tsx
  ui-backoffice/src/content/pages/Accounting/Subscriptions/FreeTab/FreeSubscriptionsTable.tsx
  ui-backoffice/src/content/pages/Accounting/Subscriptions/FreeTab/index.tsx
  ui-backoffice/src/content/pages/Accounting/Subscriptions/PageHeader.tsx
  ui-backoffice/src/content/pages/Accounting/Subscriptions/PremiumTab/PremiumSubscriptionsTable.tsx
  ui-backoffice/src/content/pages/Accounting/Subscriptions/PremiumTab/index.tsx
  ui-backoffice/src/content/pages/Accounting/Subscriptions/index.tsx
  ui-backoffice/src/content/pages/Accounting/index.tsx
  ui-backoffice/src/layouts/SidebarLayout/Sidebar/SidebarMenu/items.ts
  ui-backoffice/src/models/subscription.ts
  ui-backoffice/src/router.tsx
Labels: 🚧 draft, 🏎 fast, back-office
