Repository totoro-organization/totoro, pull requests merged in 2022-05, with the labels that each got.

#74 Add alert on register screens
  ui-mobileapp/src/assets/icons/Info.tsx
  ui-mobileapp/src/components/atoms/Alert.tsx
  ui-mobileapp/src/components/atoms/Icon/Icon.tsx
  ui-mobileapp/src/components/atoms/Text.tsx
  ui-mobileapp/src/components/organisms/RegisterSteps/RegisterStepFinal.tsx
  ui-mobileapp/src/components/organisms/RegisterSteps/RegisterStepTwo.tsx
  ui-mobileapp/src/theme/utils.ts
Labels: 📱 ui-mobileapp, 🚀 feature

#73 Add progress bar register
  ui-mobileapp/src/assets/icons/Info.tsx
  ui-mobileapp/src/components/atoms/Alert.tsx
  ui-mobileapp/src/components/atoms/Icon/Icon.tsx
  ui-mobileapp/src/components/atoms/ProgressBar.tsx
  ui-mobileapp/src/components/atoms/Text.tsx
  ui-mobileapp/src/components/organisms/RegisterSteps/RegisterStepFinal.tsx
  ui-mobileapp/src/components/organisms/RegisterSteps/RegisterStepTwo.tsx
  ui-mobileapp/src/navigation/RootStackNavigator.tsx
  ui-mobileapp/src/screens/Register.tsx
  ui-mobileapp/src/theme/utils.ts
Labels: 📱 ui-mobileapp, 🚀 feature

#86 add design single mission page
  ui-mobileapp/src/assets/icons/Calendar.tsx
  ui-mobileapp/src/assets/icons/Heart.tsx
  ui-mobileapp/src/assets/icons/Location.tsx
  ui-mobileapp/src/components/atoms/Box.tsx
  ui-mobileapp/src/components/atoms/Button.tsx
  ui-mobileapp/src/components/layouts/MainLayout.tsx
  ui-mobileapp/src/components/molecules/MissionDetail.tsx
  ui-mobileapp/src/components/molecules/ShopCard.tsx
  ui-mobileapp/src/screens/Explanation.tsx
  ui-mobileapp/src/screens/Missions.tsx
  ui-mobileapp/src/screens/uniques/Mission.tsx
  ui-mobileapp/src/theme/fonts.ts
Labels: 📱 ui-mobileapp, 🚀 feature

#88 Create toast component
  ui-mobileapp/App.tsx
  ui-mobileapp/package-lock.json
  ui-mobileapp/package.json
  ui-mobileapp/src/assets/icons/Error.tsx
  ui-mobileapp/src/assets/icons/Success.tsx
  ui-mobileapp/src/components/atoms/Button.tsx
  ui-mobileapp/src/components/atoms/Toast.tsx
  ui-mobileapp/src/components/molecules/ShopCard.tsx
  ui-mobileapp/src/screens/Shop.tsx
Labels: 📱 ui-mobileapp, 🚀 feature

#90 Add profile/organization single page
  ui-mobileapp/src/navigation/BottomTabNavigator.tsx
  ui-mobileapp/src/navigation/RootStackNavigator.tsx
  ui-mobileapp/src/navigation/StackNavigationParams.ts
  ui-mobileapp/src/screens/MyAccount.tsx
  ui-mobileapp/src/screens/uniques/Mission.tsx
  ui-mobileapp/src/screens/uniques/Profile.tsx
Labels: 📱 ui-mobileapp, 🚀 feature

#91 Create avatar atom
  ui-mobileapp/src/components/atoms/Avatar.tsx
  ui-mobileapp/src/screens/uniques/Profile.tsx
Labels: 📱 ui-mobileapp, 🚀 feature

#95 Add login style page
  ui-mobileapp/src/components/layouts/MainLayout.tsx
  ui-mobileapp/src/components/organisms/LoginForm/LoginForm.tsx
  ui-mobileapp/src/navigation/RootStackNavigator.tsx
  ui-mobileapp/src/screens/Login.tsx
  ui-mobileapp/src/screens/Register.tsx
  ui-mobileapp/src/screens/uniques/Mission.tsx
Labels: 📱 ui-mobileapp, ✏️ refactor

#96 Add explanation screens
  ui-mobileapp/src/assets/illustrations/DiscountCouponsIllustration.png
  ui-mobileapp/src/assets/illustrations/EarnTokensIllustration.png
  ui-mobileapp/src/assets/illustrations/MissionIllustration.png
  ui-mobileapp/src/components/atoms/Button.tsx
  ui-mobileapp/src/components/molecules/Carousel.tsx
  ui-mobileapp/src/components/organisms/ExplanationCarousel.tsx
  ui-mobileapp/src/screens/Explanation.tsx
  ui-mobileapp/src/theme/fonts.ts
Labels: 📱 ui-mobileapp, 🚀 feature

#99 expo fix dependencies
  ui-mobileapp/package-lock.json
  ui-mobileapp/package.json
Labels: 📱 ui-mobileapp, 🐛 bugfix

#110 Webb App auth
  webapp/package-lock.json
  webapp/package.json
  webapp/src/components/DateFnsProvider/index.tsx
  webapp/src/hooks/useAuth.tsx
  webapp/src/pages/Accounting/Subscriptions/CanceledTab/CanceledSubscriptionsTable.tsx
  webapp/src/pages/Accounting/Subscriptions/CanceledTab/index.tsx
  webapp/src/pages/Accounting/Subscriptions/ExpiredTab/ExpiredSubscriptionsTable.tsx
  webapp/src/pages/Accounting/Subscriptions/ExpiredTab/index.tsx
  webapp/src/pages/Accounting/Subscriptions/FreeTab/FreeSubscriptionsTable.tsx
  webapp/src/pages/Accounting/Subscriptions/FreeTab/index.tsx
  webapp/src/pages/Accounting/Subscriptions/PageHeader.tsx
  webapp/src/pages/Accounting/Subscriptions/PremiumTab/PremiumSubscriptionsTable.tsx
  webapp/src/pages/Accounting/Subscriptions/PremiumTab/index.tsx
  webapp/src/pages/Accounting/Subscriptions/index.tsx
  webapp/src/pages/AppsConfiguration/Appearance/Themes/index.tsx
  webapp/src/pages/AppsConfiguration/Settings/LitigationObjects/index.tsx
  webapp/src/pages/AppsConfiguration/Settings/Status/index.tsx
  webapp/src/pages/AppsConfiguration/Settings/Subscriptions/index.tsx
  webapp/src/pages/AppsConfiguration/Settings/Tags/index.tsx
  webapp/src/pages/Management/Admins/index.tsx
  webapp/src/pages/Management/Jobs/Job/JobForm.tsx
  webapp/src/pages/Management/Jobs/Job/index.tsx
  webapp/src/pages/Management/Jobs/Jobs.tsx
  webapp/src/pages/Management/Jobs/JobsTable.tsx
  webapp/src/pages/Management/Jobs/index.tsx
  webapp/src/pages/Management/Litigations/Litigation/LitigationForm.tsx
  webapp/src/pages/Management/Litigations/Litigation/index.tsx
  webapp/src/pages/Management/Litigations/Litigations.tsx
  webapp/src/pages/Management/Litigations/LitigationsTable.tsx
  webapp/src/pages/Management/Litigations/index.tsx
  webapp/src/pages/Management/Organizations/Organization/OrganizationForm.tsx
  webapp/src/pages/Management/Organizations/Organization/index.tsx
  webapp/src/pages/Management/Organizations/Organizations.tsx
  webapp/src/pages/Management/Organizations/OrganizationsTable.tsx
  webapp/src/pages/Management/Organizations/index.tsx
  webapp/src/pages/Management/Partners/Members/Partner/PartnerForm.tsx
  webapp/src/pages/Management/Partners/Members/Partner/index.tsx
  webapp/src/pages/Management/Partners/Members/Partners.tsx
  webapp/src/pages/Management/Partners/Members/PartnersTable.tsx
  webapp/src/pages/Management/Partners/Members/index.tsx
  webapp/src/pages/Management/Partners/MembershipRequests/MembershipRequests.tsx
  webapp/src/pages/Management/Partners/MembershipRequests/MembershipRequestsTable.tsx
  webapp/src/pages/Management/Partners/MembershipRequests/Request/RequestForm.tsx
  webapp/src/pages/Management/Partners/MembershipRequests/Request/index.tsx
  webapp/src/pages/Management/Partners/MembershipRequests/index.tsx
  webapp/src/pages/Management/Users/User/UserInfo.tsx
  webapp/src/pages/Management/Users/User/index.tsx
  webapp/src/pages/Management/Users/Users.tsx
  webapp/src/pages/Management/Users/UsersTable.tsx
  webapp/src/pages/Management/Users/index.tsx
  webapp/src/pages/SignIn/index.tsx
  webapp/src/pages/SignUp/index.tsx
  webapp/src/router.tsx
  webapp/src/services/admins.ts
  webapp/src/services/auth.service.ts
  webapp/src/services/config.ts
  webapp/src/services/requestApi.ts
  webapp/src/services/sessions.ts
Labels: 🚧 draft, web-app

#98 Add authentification in mobileapp
  docker-compose.yml
  mobileapp/App.tsx
  mobileapp/package-lock.json
  mobileapp/package.json
  mobileapp/src/assets/icons/Calendar.tsx
  mobileapp/src/assets/icons/Error.tsx
  mobileapp/src/assets/icons/Heart.tsx
  mobileapp/src/assets/icons/Info.tsx
  mobileapp/src/assets/icons/Location.tsx
  mobileapp/src/assets/icons/Success.tsx
  mobileapp/src/common/api/config.ts
  mobileapp/src/common/api/requests/auth/fetchConnectedUser.ts
  mobileapp/src/common/api/requests/auth/fetchLoginUser.ts
  mobileapp/src/common/api/requests/auth/fetchRegisterUser.ts
  mobileapp/src/common/api/routes.ts
  mobileapp/src/common/contexts/AuthContext.tsx
  mobileapp/src/common/utils/createUsername.spec.ts
  mobileapp/src/common/utils/createUsername.ts
  mobileapp/src/components/atoms/Alert.tsx
  mobileapp/src/components/atoms/Button.tsx
  mobileapp/src/components/organisms/LoginForm/LoginForm.tsx
  mobileapp/src/components/organisms/RegisterSteps/RegisterStepFinal.tsx
  mobileapp/src/components/organisms/RegisterSteps/RegisterStepOne.tsx
  mobileapp/src/components/organisms/RegisterSteps/RegisterStepTwo.tsx
  mobileapp/src/components/organisms/RegisterSteps/registerValidationSchemas.ts
  mobileapp/src/models/Log.ts
  mobileapp/src/models/admin.ts
  mobileapp/src/models/application.ts
  mobileapp/src/models/attachment_chat.ts
  mobileapp/src/models/attachment_job.ts
  mobileapp/src/models/chat.ts
  mobileapp/src/models/crypto_order.ts
  mobileapp/src/models/discount.ts
  mobileapp/src/models/discount_transaction.ts
  mobileapp/src/models/discount_type.ts
  mobileapp/src/models/job.ts
  mobileapp/src/models/job_difficulty.ts
  mobileapp/src/models/litigation.ts
  mobileapp/src/models/litigation_object.ts
  mobileapp/src/models/organization.ts
  mobileapp/src/models/partner.ts
  mobileapp/src/models/pricing.ts
  mobileapp/src/models/role.ts
  mobileapp/src/models/status.ts
  mobileapp/src/models/subscription.ts
  mobileapp/src/models/tag.ts
  mobileapp/src/models/user.ts
  mobileapp/src/navigation/RootStackNavigator.tsx
  mobileapp/src/screens/Login.tsx
  mobileapp/src/screens/MyAccount.tsx
  mobileapp/src/screens/Register.tsx
  package-lock.json
  webapp/src/models/user.ts
Labels: 📱 ui-mobileapp, 🚀 feature

#120 add Avatar in `MyAccount` screen
  mobileapp/src/common/api/requests/auth/fetchConnectedUser.ts
  mobileapp/src/common/contexts/AuthContext.tsx
  mobileapp/src/common/utils/getNameInitials.ts
  mobileapp/src/common/utils/tests/createUsername.spec.ts
  mobileapp/src/common/utils/tests/getNameInitials.test.ts
  mobileapp/src/components/atoms/Avatar.tsx
  mobileapp/src/screens/MyAccount.tsx
Labels: 📱 ui-mobileapp, ✏️ refactor, 🚧 draft
